/* Set the entire page's background color to rgb(135, 206, 235) using the :root pseudo-class */
:root {
    background-color: rgb(135, 206, 235);
}


/* Article with Paragraphs */
/* article {
    margin: 20px;
} */

/* First paragraph: White text on a black background (use :first-child) */
#first-child {
    background-color: black;
    color: white;
}

/* Second paragraph: Standard text color (use :nth-child(2)) */
#nth-child {
    /* Standard text color (you can define the color here) */
    color: black;
}

/* Third paragraph: Red text (use :last-child) */
#last-child {
    color: red;
}

/* Unordered List */
ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
    padding: 10px;
    margin: 20px;
}

.first_last{
    background-color: white;
    font-size: 22px;

}
.second_fourth{
    background-color: gray;
}
#middle{
    background-color: pink;
}